
.menu__container {
  background-color: var(--color-creamy);
}
.menu-card {
    display: grid;
    background-color: var(  --color-creamy );
  }
  .menu-title{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 3rem;
    color: var(--color-cooper);
  }
  .menu-section {
    display: grid;
    text-align: center;
    border: var(--color-cooper) solid 1px;
    width: 100%;
  }
  .menu-options{
    display: flex;
    width: 100%;
    border: var(--color-cooper) solid 1px;
  }

  .menu-item {
    display: grid;
  }
  
.menu-section-title {
  border-bottom: var(--color-cooper) solid 1px;
  border-top: var(--color-cooper) solid 1px;
  font-family: var(--font-title);
  font-weight: 700;
  font-size: 1.75rem;
  color: var(--color-espresso);
}
.menu-item-price{
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 1rem;
}

  .menu-item h3 {
    font-size: 1.5rem;
    font-family: var(--font-base);
  }
  
  .menu-item p {
    font-size: 0.8rem;
    color: #555;
    text-align: justify;
    margin-left: 1rem;
    font-family: var(--font-base);
    margin-bottom: 1rem;

  }
  
  .menu-item span {
    font-weight: bold;
    font-family: var(--font-base);\
    color: #333;
  }